.header-title-link {
  font-size: clamp(16px, 4.7vw, 22px);
}

.main-nav {
  a {
    box-shadow: 0 0 25px hsla(0, 0, 0, 0.15) inset;
    min-height: 83px;
    min-width: 320px;
    &:hover {
      box-shadow: 0 0 25px hsla(0, 50, 20, 0.25) inset;
      @apply no-underline;
    }
  }
}

.main-content {
  p {
    @apply mt-5 leading-relaxed;
  }
}

.mobile-nav-toggle {
  position: fixed;
  cursor: pointer;
  left: auto !important;
  right: 20px !important;
  top: 32px;
  &,
  &::before,
  &::after {
    transition: all 0.25s;
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 30px;
    border-radius: 15px;
    background-color: #fff;
  }
  &::before {
    top: -10px;
  }
  &::after {
    top: 10px;
  }
}
.mobile-nav {
  transform: translateX(10%);
}
.nav-collapsed {
  &.nav-expanded {
    z-index: 1000;
    @apply bg-red h-full w-full inset-0 left-auto fixed;
    .mobile-nav-toggle {
      background-color: transparent;
      &:before {
        transform: rotate(45deg);
        top: 0;
      }
      &:after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
    .mobile-nav {
      transition: 0.3s ease 0.2s;
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}
