.main-nav a {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15) inset;
  min-height: 83px;
  min-width: 320px; }
  .main-nav a:hover {
    box-shadow: 0 0 25px rgba(77, 26, 26, 0.25) inset;
    @apply no-underline; }

.main-content p {
  @apply mt-5 leading-relaxed; }
