footer.footer.relative.w-full.py-10.bg-red.text-white
    .container
        div(class=" md:flex")
            div(class="font-playfair text-lg min-w-max ").
                Angela Alioto
                <br>
                Straight to the Heart
            nav(class="my-12 md:my-0 md:ml-16 grid")
                -
                    const navlinks = [
                        {
                            anchor: "Home",
                            link: "./"
                        },
                        {
                            anchor: "Foreword by Francis Ford Coppola",
                            link: "foreword-by-coppola.html"
                        },
                        {
                            anchor: "Look Inside: Read Excerpt About PG&E",
                            link: "about.html"
                        },
                        {
                            anchor: "Ask for Complimentary Copy",
                            link: "https://knightsofsaintfrancis.myshopify.com/cart/42125551927464:1?channel=buy_button",
                            target: '_blank'
                        }
                    ]
                each x in navlinks
                    a(class="h-9" href=`${x.link}` target=x.target) #{x.anchor}
            div(class="self-end footer-copyright ml-auto font-medium text-xs") © 2022  All Rights Reserved


