header.header.relative.py-6.bg-gray
    .container.text-center
        if pageID !== 'home'
            a(href='/' class=` text-white font-playfair text-xl cursor-pointer hover:opacity-70  hover:no-underline`)
                | Angela Alioto
                |
                span.text-red-light Straight to the Heart
        else
            div(class=`text-white font-playfair text-xl`)
                | Angela Alioto
                |
                span.text-red-light Straight to the Heart

