nav(class="main-nav gap-y-5 hidden lg:grid")
  each page,i in NavItems
    if pageID !== page.name
        a(class="transition-all duration-300 inline-grid place-items-center leading-tight px-3 py-5 text-lg rounded text-center hover:text-red ", href=`${page.url}` target=page.target) !{page.title}

  //- div(id='product-component-1647889427853') Ask for Complimentary Copy
